############################
# Clean .gitignore
############################

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.tox/
.nox/

# Build/Dist
build/
dist/
*.egg-info/

# Envs
.venv/
.venv*/
env/
venv/

# IDE/editor
.vscode/
.idea/

# Tools
.pdm-python
.pixi
.pytype/
.pyre/
.ipynb_checkpoints

# OS/files
.DS_Store
.pypirc
.env
.envrc

# Project artifacts
out/
.cache/
.mplcache/
